<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Profile</title>
</head>

<body>
    <h1>Create Profile</h1>

    <form action="/newProfile/<%= user.id %>" method="post">
        <label for="">Profile Picture: </label><br>
        <input type="url" name="profilePicture"><br><br>
        <label for="">Bio:</label><br>
        <input type="text" name="bio"><br><br>
        <input type="submit" value="Create Profile">
    </form>
</body>

</html>